body {
    background-color: #594126;
    font-family: Arial, sans-serif; /* fonte*/
    display: flex; /* usar o FlexBox para exibir o conteúdo*/
    justify-content: center; /* centraliza na horizontal*/
    height: 100vh; /*altura da página é todo conteúdo dela*/
    align-items: center; /*centraliza na vertical*/
}

.container {
background-color: #c5904a ;
padding: 15px; /* espaçamento interno*/
border-radius: 10px;
box-shadow: 4px 8px;
}
button{
background-color: #9e7047;
box-shadow:  ;
}

a {
    color: black;
}

.imagem{
    border-radius: 10%;
}
